<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank Transactions Query</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AutoAR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link {% if active_page == 'Transactions' %}active{% endif %}"
                aria-current="page"
                href="/"
                >Transactions</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if active_page == 'Customers' %}active{% endif %}"
                aria-current="page"
                href="/customers"
                >Customers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if active_page == 'D-type-Customers' %}active{% endif %}"
                aria-current="page"
                href="/"
                >D-type-Customers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if active_page == 'manual' %}active{% endif %}"
                aria-current="page"
                href="/"
                >使用說明</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">{% block container %} {% endblock %}</div>

    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
    {% block js_container %} {% endblock %}
  </body>
</html>
