{% extends "layout.html" %} {% block container %}

<h2 class="mb-4">Transaction List</h2>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Bank Slip Date</th>
      <th>Customer ID</th>
      <th>Bank Code</th>
      <th>Bank Slip Currency</th>
      <th>Bank Slip Amount</th>
      <th>Customer Name</th>
      <th>Bank Slip Customer</th>
      <th>Country</th>
      <th>File Path</th>
      <th>Predict Type</th>
      <th>Process Status</th>
      <th>Reference Number</th>
      <th>Remit Type</th>
      <th>Bank Slip Remark</th>
      <th>Change Date</th>
      <th>AR No</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr id="tr-{{ transaction.id }}">
      <td class="id">{{ transaction.id }}</td>
      <td class="bank_slip_date">{{ transaction.bank_slip_date }}</td>
      <td class="customer_id">{{ transaction.customer_id }}</td>
      <td class="bank_code">{{ transaction.bank_code }}</td>
      <td class="bank_slip_currency">{{ transaction.bank_slip_currency }}</td>
      <td class="bank_slip_amount">{{ transaction.bank_slip_amount }}</td>
      <td class="customer_name">{{ transaction.customer_name }}</td>
      <td class="bank_slip_customer">{{ transaction.bank_slip_customer }}</td>
      <td class="country">{{ transaction.country }}</td>
      <td class="file_path">
        <a
          href="{{ url_for('static', path='data/example.pdf') }}"
          target="_blank"
          >{{ transaction.file_path }}</a
        >
      </td>
      {% if transaction.predict_type == 'A' %}
      <td class="predict_type text-primary">{{ transaction.predict_type }}</td>
      {% elif transaction.predict_type == 'E' %}
      <td class="predict_type text-success">{{ transaction.predict_type }}</td>
      {% elif transaction.predict_type == 'F' %}
      <td class="predict_type text-danger">{{ transaction.predict_type }}</td>
      {% else %}
      <td class="predict_type">{{ transaction.predict_type }}</td>
      {% endif %}
      <td class="process_status">{{ transaction.process_status }}</td>
      <td class="reference_number">{{ transaction.reference_number }}</td>
      <td class="remit_type">{{ transaction.remit_type }}</td>
      <td class="bank_slip_remark">{{ transaction.bank_slip_remark }}</td>
      <td class="change_date">{{ transaction.change_date }}</td>
      <td class="ar_no">{{ transaction.ar_no }}</td>
      <td>
        <button
          class="btn btn-primary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
          data-id="{{ transaction.id }}"
          data-bank_slip_date="{{ transaction.bank_slip_date }}"
          data-customer_id="{{ transaction.customer_id }}"
          data-bank_code="{{ transaction.bank_code }}"
          data-bank_slip_currency="{{ transaction.bank_slip_currency }}"
          data-bank_slip_amount="{{ transaction.bank_slip_amount }}"
          data-customer_name="{{ transaction.customer_name }}"
          data-bank_slip_customer="{{ transaction.bank_slip_customer }}"
          data-country="{{ transaction.country }}"
          data-file_path="{{ transaction.file_path }}"
          data-predict_type="{{ transaction.predict_type }}"
          data-process_status="{{ transaction.process_status }}"
          data-reference_number="{{ transaction.reference_number }}"
          data-remit_type="{{ transaction.remit_type }}"
          data-bank_slip_remark="{{ transaction.bank_slip_remark }}"
          data-change_date="{{ transaction.change_date }}"
          data-ar_no="{{ transaction.ar_no }}"
        >
          Edit
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button id="generate-excel" class="btn btn-primary">Generate Excel</button>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Transaction</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <input type="hidden" name="id" id="edit-id" />

          <div class="mb-3">
            <label for="edit-bank_slip_date" class="form-label"
              >Bank Slip Date</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-bank_slip_date"
              name="bank_slip_date"
            />
          </div>
          <div class="mb-3">
            <label for="edit-customer_id" class="form-label">Customer ID</label>
            <input
              type="text"
              class="form-control"
              id="edit-customer_id"
              name="customer_id"
            />
          </div>

          <div class="mb-3">
            <label for="edit-bank_code" class="form-label">Bank Code</label>
            <input
              type="text"
              class="form-control"
              id="edit-bank_code"
              name="bank_code"
            />
          </div>

          <div class="mb-3">
            <label for="edit-bank_slip_currency" class="form-label"
              >Bank Slip Currency</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-bank_slip_currency"
              name="bank_slip_currency"
            />
          </div>

          <div class="mb-3">
            <label for="edit-bank_slip_amount" class="form-label"
              >Bank Slip Amount</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-bank_slip_amount"
              name="bank_slip_amount"
            />
          </div>

          <div class="mb-3">
            <label for="edit-customer_name" class="form-label"
              >Customer Name</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-customer_name"
              name="customer_name"
            />
          </div>

          <div class="mb-3">
            <label for="edit-bank_slip_customer" class="form-label"
              >Bank Slip Customer</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-bank_slip_customer"
              name="bank_slip_customer"
            />
          </div>

          <div class="mb-3">
            <label for="edit-country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="edit-country"
              name="country"
            />
          </div>

          <div class="mb-3">
            <label for="edit-file_path" class="form-label">File Path</label>
            <input
              type="text"
              class="form-control"
              id="edit-file_path"
              name="file_path"
            />
          </div>

          <div class="mb-3">
            <label for="edit-predict_type" class="form-label"
              >Predict Type</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-predict_type"
              name="predict_type"
            />
          </div>

          <div class="mb-3">
            <label for="edit-process_status" class="form-label"
              >Process Status</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-process_status"
              name="process_status"
            />
          </div>

          <div class="mb-3">
            <label for="edit-reference_number" class="form-label"
              >Reference Number</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-reference_number"
              name="reference_number"
            />
          </div>

          <div class="mb-3">
            <label for="edit-remit_type" class="form-label">Remit Type</label>
            <input
              type="text"
              class="form-control"
              id="edit-remit_type"
              name="remit_type"
            />
          </div>

          <div class="mb-3">
            <label for="edit-bank_slip_remark" class="form-label"
              >Bank Slip Remark</label
            >
            <input
              type="text"
              class="form-control"
              id="edit-bank_slip_remark"
              name="bank_slip_remark"
            />
          </div>

          <div class="mb-3">
            <label for="edit-change_date" class="form-label">Change Date</label>
            <input
              type="text"
              class="form-control"
              id="edit-change_date"
              name="change_date"
            />
          </div>

          <div class="mb-3">
            <label for="edit-ar_no" class="form-label">AR No</label>
            <input
              type="text"
              class="form-control"
              id="edit-ar_no"
              name="ar_no"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>

            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js_container %}
<script src="{{ url_for('static', path='js/xlsx.full.min.js') }}"></script>
<script src="{{ url_for('static', path='js/transactions.js') }}"></script>
{% endblock %}
